@model Snowinmars.Ui.Models.AuthorModel

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>About</h2>

<div>
	<h4>author</h4>
	<div>@Html.ActionLink("Back to List", "Index", "Author")</div>
	<hr />

	<div class="clearfix mainBlock">
		<div class="col-xs-6">
			@Html.DisplayNameFor(model => model.FirstName)
		</div>

		<div class="col-xs-6">
			@Html.DisplayFor(model => model.FirstName)
		</div>

		<div class="col-xs-6">
			@Html.DisplayNameFor(model => model.LastName)
		</div>

		<div class="col-xs-6">
			@Html.DisplayFor(model => model.LastName)
		</div>

		<div class="col-xs-6">
			@Html.DisplayNameFor(model => model.Surname)
		</div>

		<div class="col-xs-6">
			@Html.DisplayFor(model => model.Surname)
		</div>

		<div class="col-xs-6">
			@Html.DisplayNameFor(model => model.Shortcut)
		</div>

		<div class="col-xs-6">
			@Html.DisplayFor(model => model.Shortcut)
		</div>
	</div>

	<div class="actions col-xs-12">
		@RenderPage("~/Views/Layouts/_EditDeleteActionPartialPanel.cshtml", Model.Id)
	</div>
</div>