@using Snowinmars.Common
@using Snowinmars.Ui.App_LocalResources
@model Snowinmars.Ui.Models.AuthorModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

@section Content
{
	<link href="~/Content/snowinmars/css/author/details.css" rel="stylesheet" />
}

<h2>@Global.AuthorDetails_Header</h2>

<div>
    <h4>@Global._Author</h4>
    <div>@Html.ActionLink(Global._BackToList, "Index", "Author")</div>
    <hr />

    <div class="clearfix mainBlock">
        <div class="col-xs-12">
            <div class="col-xs-2 glyphicon glyphicon-question-sign data-tooltip" data-toggle="tooltip" data-placement="bottom" title="@Global.Author_ShortcutTooltip"></div>
            <div class="col-xs-10"></div>
            <div class="col-xs-12">
                
                <div class="col-xs-4">
                    @Html.DisplayNameFor(model => model.Shortcut)
                </div>

                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.Shortcut)
                </div>
            </div>
        </div>

        <div class="col-xs-12 authorPropertyBlock">
            <div class="col-xs-12">
                <div class="col-xs-4">
                    @Html.DisplayNameFor(model => model.GivenName)
                </div>
                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.GivenName)
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-4">
                    @Html.DisplayNameFor(model => model.PseudonymGivenName)
                </div>

                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.PseudonymGivenName)
                </div>
            </div>
        </div>

        <div class="col-xs-12 authorPropertyBlock">
            <div class="col-xs-12">
                <div class="col-xs-4">
                    @Html.DisplayNameFor(model => model.FullMiddleName)
                </div>

                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.FullMiddleName)
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-4">
                    @Html.DisplayNameFor(model => model.PseudonymFullMiddleName)
                </div>

                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.PseudonymFullMiddleName)
                </div>
            </div>
        </div>

        <div class="col-xs-12 authorPropertyBlock">
            <div class="col-xs-12">
                <div class="col-xs-4">
                    @Html.DisplayNameFor(model => model.FamilyName)
                </div>

                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.FamilyName)
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-4">
                    @Html.DisplayNameFor(model => model.PseudonymFamilyName)
                </div>

                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.PseudonymFamilyName)
                </div>
            </div>
        </div>
    </div>
    
    @if (User.IsInRole(UserRoles.Admin.ToString()) || User.IsInRole(UserRoles.Root.ToString()))
    {
        <div class="actions col-xs-12">
            @RenderPage("~/Views/Layouts/_EditDeleteActionPartialPanel.cshtml", Model.Id)
        </div>
    }
</div>