@model Snowinmars.Ui.Models.AuthorModel

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>About</h2>

<div>
	<h4>author</h4>
	<div>@Html.ActionLink("Back to List", "Index", "Author")</div>
	<hr />

    <div class="clearfix mainBlock">
        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.Shortcut)
            </div>

            <div class="col-xs-6">
                @Html.DisplayFor(model => model.Shortcut)
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.GivenName)
            </div>

            <div class="col-xs-6">
                @Html.DisplayFor(model => model.GivenName)
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.PseudonymGivenName)
            </div>

            <div class="col-xs-6">
                @Html.DisplayFor(model => model.PseudonymGivenName)
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.FullMiddleName)
            </div>

            <div class="col-xs-6">
                @Html.DisplayFor(model => model.FullMiddleName)
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.PseudonymFullMiddleName)
            </div>

            <div class="col-xs-6">
                @Html.DisplayFor(model => model.PseudonymFullMiddleName)
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.FamilyName)
            </div>

            <div class="col-xs-6">
                @Html.DisplayFor(model => model.FamilyName)
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.PseudonymFamilyName)
            </div>

            <div class="col-xs-6">
                @Html.DisplayFor(model => model.PseudonymFamilyName)
            </div>
        </div>
    </div>

	<div class="actions col-xs-12">
		@RenderPage("~/Views/Layouts/_EditDeleteActionPartialPanel.cshtml", Model.Id)
	</div>
</div>