@using Snowinmars.Ui.App_LocalResources
@model Snowinmars.Ui.Models.AuthorModel

@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

@section Content
{
    <link href="~/Content/snowinmars/authorEdit.css" rel="stylesheet" />
}

<h2>@Global.AuthorEdit_Header</h2>

@using (Html.BeginForm("Edit", "Author", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">

		<h4>author</h4>
		<div>@Html.ActionLink(Global._BackToList, "Index", "Author")</div>
		<hr />

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)
        
	    <div class="col-xs-12">
	        <div class="form-group">
	            @Html.LabelFor(model => model.Shortcut, htmlAttributes: new
           {
               @class = "control-label col-md-2",
               data_toggle = "tooltip",
               data_placement = "left",
               title = Global.Author_ShortcutTooltip,
           })
	            <div class="col-md-10">
	                @Html.EditorFor(model => model.Shortcut, new { htmlAttributes = new { @class = "form-control" } })
	                @Html.ValidationMessageFor(model => model.Shortcut, "", new { @class = "text-danger" })
	            </div>
	        </div>
	    </div>


        <div class="col-xs-12 authorPropertyBlock">
            <div class="form-group">
                @Html.LabelFor(model => model.GivenName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GivenName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GivenName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PseudonymGivenName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PseudonymGivenName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PseudonymGivenName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        

        <div class="col-xs-12 authorPropertyBlock">
            <div class="form-group">
                @Html.LabelFor(model => model.FullMiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FullMiddleName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullMiddleName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PseudonymFullMiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PseudonymFullMiddleName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PseudonymFullMiddleName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        

        <div class="col-xs-12 authorPropertyBlock">
            <div class="form-group">
                @Html.LabelFor(model => model.FamilyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FamilyName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FamilyName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PseudonymFamilyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PseudonymFamilyName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PseudonymFamilyName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        

	    <div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="@Global._Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}