@model IEnumerable<Snowinmars.Ui.Models.AuthorModel>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>All authors</h2>

<p>
	@Html.ActionLink("Create new author", "Create", "Author")
</p>
<table class="table table-bordered">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.GivenName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FullMiddleName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FamilyName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Shortcut)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.GivenName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FullMiddleName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FamilyName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Shortcut)
			</td>
			<td class="actions">
				@RenderPage("~/Views/Layouts/_EditDetailsDeleteActionPartialPanel.cshtml", item.Id)
			</td>
		</tr>
	}
</table>