@using Snowinmars.Ui.App_LocalResources

@{
	ViewBag.Title = "Qualities";
	Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

@section Content
{
	<link href="~/Content/snowinmars/pathOfExile.css" rel="stylesheet" />
}

<h2>@Global.Qualities_Header</h2>

<div>
	@Global.Qualities_About_Part1
</div>

<div>
	@Global.Qualities_About_Part2
</div>

<div>
	<div class="col-xs-12">
		<div class="col-xs-12">
			<button class="btn btn-default clearQualities">
				@Global._Clear
			</button>
		</div>
	</div>

	@using (Html.BeginForm("Qualities", "PathOfExile", FormMethod.Post, new {@class = "qualitiesForm"}))
	{
		<div class="form-group">
			<div class="col-xs-12">
				<div id="qualitiesGroup" class="flex flex-row flex-wrap  col-xs-10">
					<input class="flex-item quality col-xs-2" type="number" step="1" min="1" max="20"/>
					<input class="flex-item quality col-xs-2" type="number" step="1" min="1" max="20"/>
					<input class="flex-item quality col-xs-2" type="number" step="1" min="1" max="20"/>
				</div>

				<div class="overflowErrorHint hidden">
					You can't add more: that's too complex calculations for the algorithm. I'll fix it, or if you have a solution - contact me at snowinmars@yandex.ru
				</div>
				<div class="col-xs-2 importExportBlock">
					@*<span class="col-xs-5 btn btn-default importBtn">Import</span>*@
					<span class="col-xs-5 col-xs-offset-6 btn btn-default exportBtn">Export</span>
					<textarea class="importExportTextarea col-xs-11" name="Text1" class="col-xs-11" rows="5"></textarea>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-12">
				<div class="col-xs-12">
					<input type="submit" value="@Global._Go" class="btn btn-default"/>
				</div>
			</div>
		</div>
	}
	
	
	<div class="col-xs-12 resultBox">
		<div class="btn btn-default clearResultSetBtn">Clear result set</div>
		<div class="col-xs-12 result"></div>
	</div>
</div>

@section Scripts
{
	<script src="~/Scripts/snowinmars/pathOfExile.js"></script>
}