@using System.Globalization
@using System.Threading
@using Newtonsoft.Json
@using Snowinmars.Ui.App_LocalResources
@using Snowinmars.Ui.Models
@model UserModel

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

@section Content
{
    <link href="~/Content/snowinmars/userDetails.css" rel="stylesheet" />
}

<div>
    <h4>@Global.UserDetails_PersonalPage <span class="username">@User.Identity.Name</span></h4>
    <hr />
    <div class="dl-horizontal">
        @using (Html.BeginForm("Update", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => Model.Id, new { Id = "HiddenId", Name = "HiddenId" })
                @Html.HiddenFor(model => Model.Username, new { Id = "HiddenUsername", Name = "HiddenUsername" })
                @Html.HiddenFor(model => Model.Roles, new { Id = "HiddenRoles", Name = "HiddenRoles" })

                <div class="col-xs-12">
                    <span>@Global.UserDetails_YouAre @Model.Roles.ToString()</span>
                    <span class="userDetailsMessages">
                        <span class="successMessage hiddenElement">Saved</span>
                        <span class="serverFailMessage hiddenElement">Server failed to save data</span>
                    </span>
                </div>

                <div class="form-group">
                    <div class="col-xs-4 col-md-2">
                        <div class="col-xs-4 glyphicon glyphicon-question-sign data-tooltip" data-toggle="tooltip" data-placement="bottom" title="@Global.UserDetails_EmailQuestionTooltip"></div>
                        <div class="col-xs-6">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2", })
                        </div>

                    </div>

                    <div class="col-xs-12 col-md-6">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-4 col-md-2">
                        <div class="col-xs-4 glyphicon glyphicon-question-sign data-tooltip" data-toggle="tooltip" data-placement="bottom" title="@Global.UserDetails_LanguageQuestionTooltip"></div>
                        <div class="col-xs-6">
                            @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        @Html.EnumDropDownListFor(model => model.Language, new { @class = "form-control text-box single-line" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{

    <script src="~/Scripts/snowinmars/userDetails.js"></script>
}