@using Snowinmars.Entities
@using Snowinmars.Ui.App_LocalResources
@model IEnumerable<Snowinmars.Ui.Models.UpdateUserModel>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

@section Content
{

    <link href="~/Content/snowinmars/userIndex.css" rel="stylesheet" />
}

<h2>@Global._Users</h2>

<div class="beware">
    <span>@Global.UserIndex_ActionCantBeDone</span>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-xs-4 col-sm-3 noOverflow">
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th class="col-xs-4 col-sm-3 noOverflow">
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th class="hidden-xs col-sm-3 noOverflow">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="col-xs-4 col-sm-3"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            if (item.Username == User.Identity.Name)
            {
            @:<tr class="yourUser">

            }
            else
            {
            @:<tr>
            }
                <td class="col-xs-4 col-sm-3 noOverflow login">
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td class="col-xs-4 col-sm-3 noOverflow">
                    <div class="userRoles-flex-container">
                        @if (item.Roles == UserRoles.Banned)
                        {
                            <div class="btn demoteUser glyphicon glyphicon-menu-down disabled"></div>
                        }
                        else
                        {
                            <div class="btn demoteUser glyphicon glyphicon-menu-down"></div>
                        }

                        <div class="userRoles">@item.Roles</div>

                        @if (item.Roles == UserRoles.Banned)
                        {
                            <div class="btn promoteUser glyphicon glyphicon-menu-up disabled"></div>
                        }
                        else
                        {
                            <div class="btn promoteUser glyphicon glyphicon-menu-up"></div>
                        }
                    </div>
                </td>
                <td class="hidden-xs col-sm-3 noOverflow">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="col-xs-4 col-sm-3">
                    <a href="@Url.Action("BanById", "User", new {id = item.Id})"><span class="btn btn-default col-xs-4 col-xs-offset-1 glyphicon glyphicon-lock banUser"></span></a>
                    <a href="@Url.Action("DeleteById", "User", new {id = item.Id})"><span class="btn btn-danger col-xs-4 col-xs-offset-1 glyphicon glyphicon-remove"></span></a>
                </td>
            @:</tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/snowinmars/tableSetup.js"></script>
    <script src="~/Scripts/snowinmars/userIndex.js"></script>
}