@using Snowinmars.Ui.App_LocalResources
@{
    ViewBag.Title = "RootPage";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>@Global._YouAreRoot</h2>

<div>
    <div>@Global.UserRootPage_RootMessagePart1</div>
    <div>@Global.UserRootPage_RootMessagePart2</div>

    <ol>
        <li>@Global.UserRootPage_RootMessagePart3</li>
        <li>@Global.UserRootPage_RootMessagePart4</li>
        <li>@Global.UserRootPage_RootMessagePart5</li>
    </ol>
</div>