@model Snowinmars.Ui.Models.BookModel

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>About</h2>

<div>
	<h4>book</h4>
	<div>@Html.ActionLink("Back to List", "Index", "Book")</div>
	<hr />
	<div class="mainBlock clearfix" data-id="@Model.Id">
		@Html.HiddenFor(model => model.Id)

		<div class="col-xs-6">
			@Html.DisplayNameFor(model => model.PageCount)
		</div>

		<div class="col-xs-6">
			@Html.DisplayFor(model => model.PageCount)
		</div>

		<div class="col-xs-6">
			@Html.DisplayNameFor(model => model.Title)
		</div>

		<div class="col-xs-6">
			@Html.DisplayFor(model => model.Title)
		</div>

		<div class="col-xs-6">
			@Html.DisplayNameFor(model => model.Year)
		</div>

		<div class="col-xs-6">
			@Html.DisplayFor(model => model.Year)
		</div>

		<div class="col-xs-6">
			@Html.DisplayNameFor(model => model.AuthorModelIds)
		</div>

		<div class="col-xs-6">
			@Html.DropDownList("authorModelIds", new SelectListItem[0], new Dictionary<string, object> { { "class", "authorModelIds" }, { "multiple", "multiple" }, })
		</div>
	</div>
	<div class="actions col-xs-12">
		@RenderPage("~/Views/Layouts/_EditDeleteActionPartialPanel.cshtml", Model.Id)
	</div>
</div>

@section Scripts
{
	<script src="~/Scripts/snowinmars/bookDetails.js"></script>
}