@model Snowinmars.Ui.Models.BookModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BookModel</h4>
    <hr />
    <dl class="dl-horizontal" data-id="@Model.Id">
        <dt>
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
		
		<dt>
			@Html.DisplayNameFor(model => model.AuthorModelIds)
		</dt>

	    <dd>
		    @Html.DropDownList("authorDropdown", new SelectListItem[0], new Dictionary<string, object> {{"class", "authorDropdown"}, { "multiple", "multiple" }, })
	    </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Book", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
