@using Snowinmars.Entities
@using Snowinmars.Ui.App_LocalResources
@model Snowinmars.Ui.Models.BookModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

@section Content
{
	<link href="~/Content/snowinmars/css/book/details.css" rel="stylesheet" />
}

<h2>@Global.BookDetails_Header</h2>

<div>
    <h4>@Global._Book</h4>
    <div>@Html.ActionLink(Global._BackToList, "Index", "Book")</div>
    <hr />
    <div class="mainBlock clearfix" data-id="@Model.Id">
        @Html.HiddenFor(model => model.Id)

        <div class="col-xs-12 urls">

            <div class="btn-group" role="group" aria-label="...">
                @if (string.IsNullOrWhiteSpace(Model.LiveLibUrl))
                {
                    <button type="button" class="btn btn-default liveLibUrlButton disabled">LiveLib</button>
                }
                else
                {
                    <a href="@Model.LiveLibUrl" target="_blank" type="button" class="btn btn-default liveLibUrlButton">LiveLib</a>
                }
            </div>

            <div class="btn-group" role="group" aria-label="...">
                @if (string.IsNullOrWhiteSpace(Model.LibRusEcUrl))
                {
                    <button type="button" class="btn btn-default liveLibUrlButton disabled">Lib.Rus.Ec</button>
                }
                else
                {
                    <a href="@Model.LibRusEcUrl" target="_blank" type="button" class="btn btn-default liveLibUrlButton">Lib.Rus.Ec</a>
                }
            </div>

            <div class="btn-group" role="group" aria-label="...">
                @if (string.IsNullOrWhiteSpace(Model.FlibustaUrl))
                {
                    <button type="button" class="btn btn-default liveLibUrlButton disabled">Flibusta</button>
                }
                else
                {
                    <a href="@Model.FlibustaUrl" target="_blank" type="button" class="btn btn-default liveLibUrlButton">Flibusta</a>
                }
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.Title)
            </div>

            <div class="col-xs-6">
                @Html.DisplayFor(model => model.Title)
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.AuthorModelIds)
            </div>

            <div class="col-xs-6">
                @Html.DropDownList("authorModelIds", new SelectListItem[0], new Dictionary<string, object> { { "class", "authorModelIds" }, { "multiple", "multiple" }, })
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.Owner)
            </div>

            <div class="col-xs-6">
                @Html.DisplayFor(model => model.Owner)
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.PageCount)
            </div>

            <div class="col-xs-6">
                @Html.DisplayFor(model => model.PageCount)
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.Year)
            </div>

            <div class="col-xs-6">
                @Html.DisplayFor(model => model.Year)
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                @Html.DisplayNameFor(model => model.Bookshelf)
            </div>

            <div class="col-xs-6">
                @Html.DisplayFor(model => model.Bookshelf)
            </div>
        </div>

	    <div class="col-xs-12">
		    <div class="col-xs-6">
			    @Html.DisplayNameFor(model => model.AdditionalInfo)
		    </div>

		    <div class="col-xs-6">
			    @Html.DisplayFor(model => model.AdditionalInfo)
		    </div>
	    </div>
		
	    <div class="col-xs-12">
		    <div class="col-xs-6">
			    @Html.DisplayNameFor(model => model.Status)
		    </div>

		    <div class="col-xs-6">
			    @Html.DisplayFor(model => model.Status)
		    </div>
	    </div>
    </div>
    
    @if (User.IsInRole(UserRoles.Admin.ToString()) || User.IsInRole(UserRoles.Root.ToString()))
    {
        <div class="actions col-xs-12">
            @RenderPage("~/Views/Layouts/_EditDeleteActionPartialPanel.cshtml", Model.Id)
        </div>
    }
</div>

@section Scripts
{
    <script src="~/Scripts/snowinmars/bookDetails.js"></script>
}